h1, h2, h3, h4, p{
color: #274690;
font-family: 'Ubuntu', sans-serif;
}

/*disables visited colors*/
a, a:visited, a:hover, a:active {
  color: inherit;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #F5F3F5;
}

.navBar{
  list-style: none;
  display: flex;
  text-align: center;
  margin: 0 auto;
  align-items: stretch;;
  justify-content: space-between;
}

div.navBarContainer{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

ul.navBar li{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  color: #1B264F;
  font-size: 30px;
  margin-top: 40px;
  border: 5px solid #1B264F;
  padding: 7px;
}

ul.navBar li a{
  text-decoration: none;
}

img.navImage{
  margin-top: 5px;
  width: 125px;
  float: left;
}

.profileImage{
  width: 125px;
  float: right;
  border-radius: 125px;
}

.fullPage{
  margin-left: auto;
  margin-right: auto;
  width: 80%
}

.splash{
  /*width: 60%;*/
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.titleTxt{
  font-size: 100px;
  padding-top: 50px;
}

.sectionHeader{
  font-size: 50px;
}

.subHead{
  font-size: 50px;
  font-weight: 300;
}

.scroller{
  font-size: 28px;
  margin-top: 150px;
  text-align: center;;
}

/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/
/*********************************************************************************************************************/

/*Flexbox*/
.flexContainer{
  margin-top: 35px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  transition: all .2s ease-in-out;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.flexbox{
  flex: 1 1 auto;
  width: 100%;
  height: auto;
  max-height: 1250px;
  padding: 1em;
  background-color: #FEFEFE;
  border: 1px solid;
  border-color: #3f7ed54d;
  border-radius: 2px;
  margin-right: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 1em;
  overflow-y: auto;
  overflow: hidden;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-rendering: optimizelegibility;
    font-size: 14px;
    line-height: 22px;
    color: #222;
    text-align: left;
}

.flexbox:hover{
border-color: #3F7ED5;
}

.flexbox:focus{
border-color: #3F7ED5;
}
.reveal {
display: none;
  transition: all .2s ease-in-out;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
  -webkit-animation-fill-mode: forwards;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/*
.flexbox:hover .reveal{
  display: block;
} */

/*Shrink name and title on hover*/
.shrink{
    transition: all .2s ease-in-out;
}

.shrink h3{
  text-transform: uppercase;
}

.flexbox:hover .shrink, .flexbox:focus .shrink{
  transform: scale(0.95);
}

.centreImage{
  max-height: 600px;
display: block;
margin-left: auto;
margin-right: auto;
}

.description{
padding-left: 15px;
text-transform: initial;
}

/****************************/
